In [45]:
# Enable auto-reloading of external modules - useful during development
%load_ext autoreload
%autoreload 2

# Configure Python path to find our custom modules
import sys
from pathlib import Path

# Add project root to the Python path for proper imports
project_root = Path.cwd().parent
if project_root not in sys.path:
    sys.path.insert(0, str(project_root))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
# Import necessary libraries
import src.processing as processing
import src.lists as lists

In [47]:
df = processing.load_data("/Users/luis.m/Library/Mobile Documents/com~apple~CloudDocs/Documents ☁️/VSC Projects/Master_Thesis/data/raw/nvzfxcoxdvh1at7i.csv")

/Users/luis.m/Library/Mobile Documents/com~apple~CloudDocs/Documents ☁️/VSC Projects/Master_Thesis/src/processing.py:15: DtypeWarning: Columns (10,11,12,16,17,22,26,30,33,34,35,945,946,948,949,950,955,969,970,975,980) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

Data loaded successfully from /Users/luis.m/Library/Mobile Documents/com~apple~CloudDocs/Documents ☁️/VSC Projects/Master_Thesis/data/raw/nvzfxcoxdvh1at7i.csv

In [48]:
processing.df_shape(df)

The DataFrame has 317304 observations (rows) and 981 columns.

In [49]:
df = processing.prepare_data(df)

Original number of observations: 317304
Number of columns after selection: 30
Observations after year filter (2000-2023): 302751
Observations after excluding financial and utility firms: 170598

In [50]:
processing.df_shape(df)

The DataFrame has 170598 observations (rows) and 30 columns.

In [51]:
df = df.dropna(subset=lists.raw_items_for_set_A_predictors_components)
processing.df_shape(df)
df.isnull().sum()

The DataFrame has 159864 observations (rows) and 30 columns.

gvkey           0
datadate        0
fyear           0
conm            0
tic            10
cusip           0
cik         16515
sic             0
curncd          0
pddur           0
oancf           0
at              0
ni              0
rect            0
invt            0
ap              0
dp              0
xsga        15713
xrd         70948
capx          456
act          2219
lct          2191
lt            298
sale            0
gp              0
cogs            0
ppent          87
mkvalt      26294
ceq           262
ipodate     80012
dtype: int64

In [52]:
df_B_dopped = df.dropna(subset=lists.raw_items_for_set_B_truly_additional_components)
processing.df_shape(df)
df_B_dopped.isnull().sum()

The DataFrame has 159864 observations (rows) and 30 columns.

gvkey           0
datadate        0
fyear           0
conm            0
tic             5
cusip           0
cik          3823
sic             0
curncd          0
pddur           0
oancf           0
at              0
ni              0
rect            0
invt            0
ap              0
dp              0
xsga            0
xrd             0
capx            0
act             0
lct             0
lt              0
sale            0
gp              0
cogs            0
ppent           0
mkvalt          0
ceq             0
ipodate     28724
dtype: int64

In [53]:
df_lagged = processing.create_lagged_variables(df, lag_years=1, vars_to_lag=lists.vars_to_lag)
processing.df_shape(df_lagged)

The DataFrame has 159864 observations (rows) and 36 columns.